.sumModal {
  margin: 0 auto;
}

.stars {
  font-size: 20px;
}

.headline {
  padding-top: 46px;
  padding-bottom: 20px;
  font-family: 'Montserrat';
  font-size: 15px;
  color: #1c2534;
  margin: 0;
}

.textHeadline {
  padding-top: 30px;
  padding-bottom: 20px;
  font-family: 'Montserrat';
  font-size: 15px;
  color: #1c2534;
  margin: 0;
}

.buttDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 42px;
}

.exitBut,
.saveBut {
  background-color: transparent;
  outline: none;
  color: #00183e;
  font-family: 'Montserrat';
  font-size: 13px;
  width: 124px;
  padding: 14px 0px;
  border: none;
}

.saveBut {
  margin-left: 5px;
  color: #fff;
  background-color: #ef6537;
  border: 1px #ef6537 solid;
}

.exitBut {
  border: 1px #1c2534 solid;
}

.exitBut:hover,
.exitBut:focus {
  background-color: #ef6537;
  border-color: #ef6537;
  color: white;
  border: none;
}

.saveBut:hover,
.saveBut:focus {
  border-color: #f1511c;
  background-color: #f1511c;
  color: white;
  border: none;
}

.textArea {
  margin-top: 10px;
  resize: none;
  box-shadow: 0px -1px 1px #f8f8fa;
  width: 100%;
}

@media (min-width: 768px) {
  .sumModal {
    padding: 0px 64px;
  }

  .buttDiv {
    width: 280px;
    margin: 0 auto;
  }
}

@media (min-width: 1264px) {
  .sumModal {
    padding: 0px 64px;
  }
}
