.modalBase {
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.modal {
  padding: 50px 76px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid rgb(220, 224, 233);
}

.centered {
  padding: 0;
  margin: 0;
  max-width: 280px;
}

.notice {
  padding: 0 0 20px;
  margin: 0;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 15px;
  line-height: 20px;
}

.buttons {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.button {
  padding: 12px 0;
  margin: 0;
  margin-right: 20px;
  background-color: #fff;
  border: 1px solid rgb(9, 30, 63);
  cursor: pointer;
  min-width: 130px;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}

.button:last-child {
  margin-right: 0;
}

.button:hover,
.button:focus {
  background-color: #ef6537;
  border: 1px solid #ef6537;
  color: #fff;
  outline: none;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.15);
}
/* 
@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
} */
