.formResult {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.labelStyles {
  font-size: 11px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(136, 144, 161);
  text-align: left;
  margin: 0;
  flex: 0 0 112px;
}

.labelStyles input {
  padding: 12px;
  margin: 0;
  flex-basis: 40%;
  width: 112px;
  font-size: 13px;
  font-weight: 600;
  color: rgb(0, 24, 62);
}

.result_title {
  flex-basis: 100%;
  font-size: 13px;
  font-family: 'Open Sans';
  color: rgb(0, 24, 62);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding: 0;
  margin: 0 0 15px 0;
}

.styledButton {
  width: 100%;
  padding: 12px;
  background-color: rgb(255, 107, 0);
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15);
  border: none;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  transition: 0.2s ease;
  margin: 15px 0 0 0;
}

.styledButton:hover,
.styledButton:focus {
  background-color: rgb(255, 120, 5);
}

@media screen and (min-width: 768px) {
  .styledButton {
    width: 60%;
  }
}

@media screen and (min-width: 1280px) {
  .styledButton {
    width: 100%;
  }
}
