.box {
  box-sizing: border-box;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(193, 197, 208, 0.4);
}

.boxTitle {
  height: 60px;
  font-size: 19px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  background-color: #b1b7c3;
  box-shadow: 0px 2px 1px 0px rgba(193, 197, 208, 0.4);
}

.boxCounter {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.boxCounterNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #00183e;
  font-weight: 700;
  background-color: #f5f7fa;
  box-shadow: 3px 5.196px 6px 0px rgba(0, 24, 62, 0.15);
}

.boxCounterText {
  padding: 0;
  margin: 0;
  color: #8890a1;
  text-align: center;
}

@media (max-width: 767px), (min-width: 1280px) {
  .box {
    height: 280px;
  }

  .boxCounter {
    width: 250px;
    margin: 0 auto;
    padding-top: 44px;
  }

  .boxCounterItem {
    flex: 0 0 118px;
  }

  .boxCounterNumber {
    width: 118px;
    height: 98px;
    margin-bottom: 12px;
    font-size: 45px;
  }

  .boxCounterText {
    text-align: center;
    font-size: 13px;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .box {
    padding: 25px;
    padding-left: 56px;
    padding-right: 56px;
    display: flex;
    justify-content: space-between;
  }

  .boxCounter {
    width: 250px;
  }

  .boxTitle {
    width: 299px;
  }

  .boxCounterItem {
    flex: 0 0 118px;
  }

  .boxCounterNumber {
    width: 118px;
    height: 60px;
    margin-bottom: 6px;
    font-size: 40px;
  }

  .boxCounterText {
    font-size: 11px;
  }
}
