/* .wrapTable {
  width: 100%;
  margin: 0 auto;
  font-size: 14px;
  background-color: rgb(230, 217, 217);
}
.tableHead {
  padding: 1rem;
  text-align: left;
  font-weight: lighter;
  font-size: 10px;
}
tbody td {
  padding: 20px 0;
  background-color: white;
}

.iconWrap::before {
  content: '';
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 1.25rem;
  height: 1.25rem;
  background-image: url(../../../assets/icons/library/menu_book-24px.svg);
  background-repeat: no-repeat;
  background-position: center;
  left: 0.3125rem;
  top: 1.1875rem;
}
.tabName {
  position: relative;
  padding-left: 2rem;
  width: 40%;
}

.tabAuthor {
  width: 20%;
}
.tabYear {
  width: 10%;
}
.tabPage {
  width: 10%;
} */

/* ====================================================================== */

/* .ulBooks {
  list-style: none;
  padding: 0;
  position: relative;
}
.liBooks {
  display: flex;
}
.wrapHead {
  position: relative;
  width: 33%;
}
.wrapBody {
  width: 67%;
}
.nameHead {
  visibility: hidden;
  padding: 6px;
}
.authorHead {
}
.yearHead {
}
.pageHead {
}
.ratingHead {
  visibility: hidden;
}

.iconWrap {
}
.nameBody {
  position: relative;
  left: -50%;
  width: 150%;
}
.authorBody {
}
.yearBody {
}
.pageBody {
}
.ratingBody {
}
.ratingIcon {
} */
.ulBooks {
  font-weight: 600;
  list-style: none;
  line-height: 1.5rem;
  padding: 0;
}
.liBooks {
  padding: 0 4rem;
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem 3rem;
  margin-bottom: 1rem;
}

/* Name */
.wrapName {
  display: flex;
  position: relative;
}
.nameHead {
  display: none;
}
.nameBody {
  line-height: 1.2rem;
}
.libLogo {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  left: -2rem;
  top: 0.25rem;
}

/* Author */
.wrapAuthor {
  display: flex;
}
.authorHead {
  width: 40%;
}
.authorBody {
  width: 60%;
}

/* Year */
.wrapYear {
  display: flex;
}
.yearHead {
  width: 40%;
}
.yearBody {
  width: 60%;
}

/* Page */
.wrapPage {
  display: flex;
}
.pageHead {
  width: 40%;
}
.pageBody {
  width: 60%;
}

/* Rating */
.wrapRating {
  display: none;
}
.ratingHead {
  width: 40%;
}
.ratingBody {
  width: 60%;
}
.ratingIcon {
  display: none;
}

.title {
  color: #898f9f;
}
