.trainingPageWrapper {
  padding-top: 93px;
  min-height: 100vh;
}

.treningSection {
  padding-bottom: 33px;
}

.mainblok {
  background-color: #f5f7fa;
}

@media screen and (min-width: 1280px) {
  .trainingPageWrapper {
    padding-right: 16px;
    padding-left: 16px;
    display: flex;
    justify-content: space-between;
  }

  .leftArea {
    flex: 0 0 864px;
  }

  .rightArea {
    flex: 0 0 300px;
  }
}
