.containerLibraryPage {
  background-color: #f5f7fa;
  min-height: 100vh;
  padding-top: 60px;
}

.library {
  width: 300px;
  margin: 0 auto;
  padding: 30px 10px;
}

@media (min-width: 768px) {
  .library {
    width: 680px;
  }
}
@media (min-width: 1264px) {
  .library {
    width: 1228px;
  }
}
