.reg_section {
}
.custom_container {
  width: 300px;
  margin: 0 auto;
}
.reg_form {
  padding: 1.8rem 0;
  width: 100%;
  background-image: url('../../assets/images/signupBg.jpg');
}
.reg_social {
  text-align: center;
}
.reg_social_button {
  display: inline-block;
  padding: 0.85rem;
  background-color: #f6f7fc;
  text-decoration: none;
  color: #6e7477;
  width: 150px;
  font-weight: 600;
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.2s ease;
}
.reg_social_button:hover,
.reg_social_button:focus {
  transform: scale(1.02);
}
.reg_social_button:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  background-size: contain;
  background-image: url('../../assets/icons/google/search.svg');
}
.reg_form form {
  font-weight: 600;
  color: #fff;
}
.reg_form label {
  display: block;
  margin-bottom: 1.2rem;
}
.reg_form label:last-of-type {
  margin-bottom: 2.6rem;
}
.reg_form label span:after {
  content: ' *';
  color: red;
}
.reg_form input {
  display: block;
  width: 100%;
  font-weight: 600;
  margin-top: 0.7rem;
  padding: 0.8rem 0.7rem;
  border: none;
}
.reg_form button {
  text-align: center;
  color: #fff;
  background-color: #ef6537;
  width: 100%;
  padding: 1.1rem;
  border: none;
  font-weight: 700;
  transition: 0.2s ease;
  font-size: 0.9rem;
}

.reg_form button:hover,
.reg_form button:focus {
  transform: scale(1.02);
}

.relink {
  font-weight: 300;
  text-align: center;
}
.relink a {
  color: #ef6537;
}

.reg_text {
  padding: 1rem 0;
}

.reg_text h1 {
  margin-top: 0;
  text-align: center;
  font-family: 'Abril Fatface', serif;
  font-size: 2rem;
}
.reg_text h2 {
  font-family: 'Montserrat';
  padding-left: 2.5rem;
  font-weight: 600;
}
.reg_text ul {
  color: #9e9fa1;
  padding-left: 2.5rem;
  font-weight: 600;
}
.reg_text li {
  position: relative;
  list-style: none;
  margin-bottom: 0.5rem;
}
.reg_text li:before {
  position: absolute;
  top: 3px;
  content: '';
  color: #ef6537;
  font-weight: bold;
  left: -1rem;
  background-image: url('../../assets/icons/arrow/right-arrow.svg');
  height: 9px;
  width: 9px;
  background-size: contain;
}
@media (min-width: 768px) {
  .reg_form,
  .reg_text {
    padding: 4rem 0;
  }
  .custom_container {
    width: 500px;
  }
  .reg_social_button {
    box-shadow: 0 2px 3px -1px #bbb;
  }
  .reg_form form {
    background-color: #fff;
    padding: 2.5rem;
    padding-bottom: 1.5rem;
    width: 400px;
    margin: 0 auto;
    color: #9e9fa1;
  }
  .reg_form input {
    border-top: 2px solid #eee;
    background-color: #f6f7fc;
  }
}
@media (min-width: 1280px) {
  .reg_section {
    display: flex;
  }
  .reg_form {
    width: 45%;
  }
  .reg_text {
    width: 55%;
  }
  .reg_text_content {
    padding-top: 4rem;
  }
}
.custom_container {
  width: 300px;
  margin: 0 auto;
}
.reg_form {
  padding: 1.8rem 0;
  width: 100%;
  background-image: url('../../assets/images/signupBg.jpg');
}
.reg_social {
  text-align: center;
}
.reg_social_button {
  display: inline-block;
  padding: 0.85rem;
  background-color: #f6f7fc;
  text-decoration: none;
  color: #6e7477;
  width: 150px;
  font-weight: 600;
  position: relative;
  margin-bottom: 1.5rem;
  transition: 0.2s ease;
}
.reg_social_button:hover,
.reg_social_button:focus {
  transform: scale(1.02);
}
.reg_social_button:before {
  position: absolute;
  content: '';
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  background-size: contain;
  background-image: url('../../assets/icons/google/search.svg');
}
.reg_form form {
  font-weight: 600;
  color: #fff;
}
.reg_form label {
  display: block;
  margin-bottom: 1.2rem;
}
.reg_form label:last-of-type {
  margin-bottom: 2.6rem;
}
.reg_form label span:after {
  content: ' *';
  color: red;
}
.reg_form input {
  display: block;
  width: 100%;
  font-weight: 600;
  margin-top: 0.7rem;
  padding: 0.8rem 0.7rem;
  border: none;
}
.reg_form button {
  text-align: center;
  color: #fff;
  background-color: #ef6537;
  width: 100%;
  padding: 1.1rem;
  border: none;
  font-weight: 700;
  transition: 0.2s ease;
  font-size: 0.9rem;
}

.reg_form button:hover,
.reg_form button:focus {
  transform: scale(1.02);
}

.relink {
  font-weight: 300;
  text-align: center;
}
.relink a {
  color: #ef6537;
}

.reg_text {
  padding: 1rem 0;
  background-color: #fff;
}

.reg_text h1 {
  margin-top: 0;
  text-align: center;
  font-family: 'Abril Fatface', serif;
  font-size: 2rem;
}
.reg_text h2 {
  font-family: 'Montserrat';
  padding-left: 2.5rem;
  font-weight: 600;
}
.reg_text ul {
  color: #9e9fa1;
  padding-left: 2.5rem;
  font-weight: 600;
}
.reg_text li {
  position: relative;
  list-style: none;
  margin-bottom: 0.5rem;
}
.reg_text li:before {
  position: absolute;
  top: 3px;
  content: '';
  color: #ef6537;
  font-weight: bold;
  left: -1rem;
  background-image: url('../../assets/icons/arrow/right-arrow.svg');
  height: 9px;
  width: 9px;
  background-size: contain;
}
@media (min-width: 768px) {
  .reg_form,
  .reg_text {
    padding: 4rem 0;
  }
  .custom_container {
    width: 500px;
  }
  .reg_social_button {
    box-shadow: 0 2px 3px -1px #bbb;
  }
  .reg_form form {
    background-color: #fff;
    padding: 2.5rem;
    padding-bottom: 1.5rem;
    width: 400px;
    margin: 0 auto;
    color: #9e9fa1;
  }
  .reg_form input {
    border-top: 2px solid #eee;
    background-color: #f6f7fc;
  }
}
@media (max-width: 1279px) {
  .reg_form {
    padding-top: 6.5rem;
  }
}
@media (min-width: 1280px) {
  .reg_section {
    display: flex;
    min-height: 100vh;
  }
  .reg_form {
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reg_text {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .reg_text_content {
    padding-top: 0;
  }
}
