.box {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(193, 197, 208, 0.4);
  box-sizing: border-box;
}

.boxTitle {
  height: 60px;
  font-size: 19px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;
  color: #ffffff;
  background-color: #b1b7c3;
  box-shadow: 0px 2px 1px 0px rgba(193, 197, 208, 0.4);
}

.boxCounter {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.boxCounterNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #00183e;
  font-weight: 700;
  background-color: #f5f7fa;
  box-shadow: 3px 5.196px 6px 0px rgba(0, 24, 62, 0.15);
}

.boxCounterNumberOrange {
  color: #ff6b00;
}

.boxCounterText {
  padding: 0;
  margin: 0;
  font-size: 11px;
  color: #8890a1;
  text-align: center;
}

@media (max-width: 767px), (min-width: 1280px) {
  .box {
    min-height: 240px;
  }

  .boxCounter {
    width: 250px;
    margin: 0 auto;
    padding-top: 28px;
  }

  .boxCounterItem {
    flex: 0 0 76px;
  }

  .boxCounterNumber {
    width: 76px;
    height: 80px;
    margin-bottom: 16px;
  }

  .boxCounterText {
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .box {
    padding: 25px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }

  .boxCounter {
    width: 355px;
  }

  .boxTitle {
    width: 299px;
  }

  .boxCounterItem {
    flex: 0 0 100px;
  }

  .boxCounterNumber {
    width: 111px;
    height: 60px;
    margin-bottom: 6px;
  }
}
