.checkbox {
  display: none;
}

.fakeCheckbox {
  /* display: inline-block; */
  width: 18px;
  height: 18px;
  border: 0;
  background-image: url('../../assets/icons/check/checkEmpty.png');
}

.checkbox:checked + .fakeCheckbox {
  background-image: url('../../assets/icons/check/check.png');
}

.headTable {
  width: 100%;
  border-top: 1px solid #e0e5eb;
  border-bottom: 1px solid #e0e5eb;
}

.bookName {
  width: 49%;
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #898f9f;
  font-size: 13px;
  margin: 3px 0;
}

.authorName {
  width: 25%;
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #898f9f;
  font-size: 13px;
  margin: 3px 0;
}

.year {
  width: 13%;
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #898f9f;
  font-size: 13px;
  margin: 3px 0;
}

.pageNumber {
  width: 13%;
  display: inline-block;
  font-family: 'Montserrat';
  font-weight: 600;
  color: #898f9f;
  font-size: 13px;
  margin: 3px 0;
}
