.header {
  display: flex;
  width: 300px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.group {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 20px;
  font-family: 'Abril Fatface';
  color: rgb(36, 42, 55);
  line-height: 2;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.image {
  width: 24px;
}

.mailLink {
  background-color: rgb(245, 247, 250);
  text-transform: uppercase;
  border-radius: 50%;
  font-size: 13px;
  font-family: 'Montserrat';
  color: rgb(36, 42, 55);
  font-weight: bold;
  line-height: 3.077;
  display: flexbox;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user {
  font-size: 13px;
  font-family: 'Montserrat';
  color: rgb(36, 42, 55);
  /* line-height: 3.077; */
}

.linkButton {
  background-color: transparent;
  border: none;
}

.button {
  background-color: transparent;
  outline: none;
  border: none;
  border-left: 1px solid rgb(224, 229, 235);
  padding: 10px;
  display: flexbox;
  font-size: 13px;
  font-family: 'Montserrat';
  color: rgb(36, 42, 55);
  text-decoration: underline;
  line-height: 1.231;
}

@media (min-width: 768px) {
  .header {
    width: 680px;
  }
}

@media (min-width: 1280px) {
  .header {
    width: 1228px;
  }
}
