.modal_overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.102);
  top: 0;
  left: 0;
  z-index: 9997;
  outline: none;
}

.modal_overlay:focus {
  outline: none;
}

.modal {
  position: relative;
  max-width: 18.75rem;
  background-color: #fff;
  box-shadow: 6.5px 11.258px 35px 0px rgba(0, 0, 0, 0.23);
  padding: 2.5rem 1.375rem;
  text-align: center;
}

.congratsbtnClose {
  width: 130px;
  padding: 10px;
  background-color: #ef6537;
  color: #ffffff;
  border: none;
  margin: auto;
  margin-top: 20px;
  text-transform: uppercase;
}

.congratsbtnClose:hover {
  background-color: #e75a2b;
}

.image {
  width: 44px;
  display: block;
  margin: 0 auto;
  border-radius: inherit;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 36.25rem;
    padding: 2.5rem 5rem;
  }

  .congratsbtnClose {
    margin-left: 20px;
    margin-top: 6px;
  }
}
